.navigation{
    opacity:1;
    z-index: 50;
    position: fixed;
    top:0px;
    width:100%;
    .navigationContent{
        display:flex;
        justify-content: space-between;
        padding:10px 30px 10px 30px;
        .leftContent{
            opacity:1;
            display:flex;
            justify-content: space-around;
            align-items: center;
            img{
                width:60px;
                border-radius: 15px;
                border:1px solid white;   
            }
            h1{
                color:white;
                font-weight:lighter;
                font-size: 20px;
                padding:10px;
            }
            
        }
        ul{
            display:flex;
            justify-content: space-around;
            background-color: rgba(206, 220, 226, 0.175);
            border-radius: 10px;
            li{
                padding:10px;
                span{
                    font-size:25px;
                    font-weight: 200;
                }
            }
        }
    }
}