.navigation{
    opacity:1;
    z-index: 20;
    position: fixed;
    top:0px;
    width:100%;
    .navigationContent{
        display:flex;
        justify-content: space-between;
        padding:10px 30px 10px 30px;
        border: 1px solid black;
        .leftContent{
            opacity:1;
            display:flex;
            justify-content: space-around;
            align-items: center;
            img{
                width:40px;
                border-radius: 30%;
                border:1px solid black;   
            }
            h1{
                color:white;
                font-weight: 50;
                font-size: 20px;
                padding:10px;
            }
            
        }
        ul{
            display:flex;
            justify-content: space-around;
            background-color: rgba(206, 220, 226, 0.175);
            li{
                padding:10px;
                span{
                    font-size:25px;
                    font-weight: 200;
                }
            }
        }
    }
}