 .contact{
     .contactContent{
        position: absolute;
        top:40%;
        left:20%;
        width:60%;
        opacity:0.8;
        border:2px solid rgb(183, 66, 150);
        border-radius:15px;
        box-shadow: 30px 30px 30px black;
        background-color:rgba(196, 212, 227, 0.964);
        padding:15px;
        span{
            font-size: 40px;
            
        }
        
        }
 }   